@font-face 
  font-family: 'Gotham Pro Medium'
  src: url('..font/GothamPro-Medium.eot')
  src: url('..font/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/GothamPro-Medium.woff') format('woff'),
  url('../font/GothamPro-Medium.ttf') format('truetype')
  font-weight: normal
  font-style: normal


$Gotham: 'Gotham Pro Medium', san-serif

body
  margin: 0
  padding: 0
  box-sizing: border-box
  overflow-x: hidden
  background: #E6F5F4
main
  overflow: hidden
  background: #0A0B0D
h1
  width: 302px
  height: 31px
  margin-left: 32px
  margin-bottom: 0
  margin-top: 72px
  font-family: $Gotham
  font-size: 32px
  color: #FFFFFF
p
  width: 231px
  height: 31px
  font-family: $Gotham
  font-size: 24px
  line-height: 130%
  color: #FFFFFF
